name: Go

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  GOCACHE: /tmp/github-runner/gocache
  HOME: /tmp/github-runner

jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3.2.0
        with:
          go-version: 1.18
          cache: false

      - name: Install cURL Headers
        run: sudo apt-get install libcurl4-openssl-dev

      - name: Build
        run: go build -v -tags libcurl ./...

      - name: Test
        run: go test -v -tags libcurl  ./...
