name: Go

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3.2.0
        with:
          go-version: 1.18

      - name: Install cURL Headers
        run: sudo apt-get install libcurl4-openssl-dev

      - name: Build
        run: go build -v -tags libcurl ./...

      - name: Test
        run: go test -v -tags libcurl  ./...
